<div >
    <div class="ui-panel-wrapper">
        <div class="top_image">
            <img src="images/content_images/catalog_or_samples/top.jpg" width="2048" height="1006">
        </div>
        <div class="logo_and_links">
            <div class="green_bg"></div>
            <div class="green_horizontal_bg"></div>

            <div class="catalog_or_samples_left">
                <a ui-sref="catalog" class="catalog_link" >Browse the complete catalogue.</a>
                <p>What would you like to do today?</p>
                <a ui-sref="samples_landing" class="samples_link">Order some samples.</a>
            </div>
            <div class="catalog_or_samples_right">
                <img src="images/catalog_or_samples/logo.png">
                <h1>The natural choice in stone</h1>
            </div>
        </div>
    </div>
</div>