<div>
    <div class="ui-panel-wrapper">
        <!-- start: Catalog Slider -->
        <div class="slider">

            <!-- start: About Us Page 1 -->
            <div class="content_item  about_us scroll">
                <div class="half_width no_padding full_content_height">
                    <img src="images/content_images/about_us/page_1_left.jpg" width="1024" height="1327">
                </div>
                <div class="half_width text_padding">
                    <h1><span>Family Tradition</span><br>With Family Pride</h1>
                    <p>Shouldice Designer Stone has a long and proud history of Innovation, Quality and Service. We believe that an unwavering customer-first orientation, attention to detail, and a persistent dedication to continuous improvement has allowed us to become the industry leader and will continue to distinguish us far into our future.</p>
                    <p>Our commitment to these values brings you, our customer, a world of beauty, variety and style unmatched in the building products industry. Allow your imagination to roam freely through the pages of this catalogue. Envision the endless possibilities and custom combinations that can be yours.</p>
                    <h6>Steve and Brad Shouldice</h6>
                </div>
            </div>
            <!-- end: About Us Page 1 -->
            <!-- start: About Us Page 2 -->
            <div class="content_item  about_us scroll">
                <div class="half_width text_padding">
                    <h1>History</h1>
                    <p>Shouldice Designer Stone is proudly 100% Canadian owned/operated and currently under third generation family management.</p>
                    <p>Shouldice has a rich history characterized by a commitment to Innovation, Quality, and Service. Since 1947 we have responded to the times, both economic and technological, to develop and produce creative, high-quality products that exceed consumer expectations.</p>
                    <p>Coupled with our customer-first orientation, this flexibility has allowed us to establish and maintain a leadership position in the stone and veneer products industry. Our products are increasingly utilized in projects of distinction on all modes of construction across North America.</p>
                </div>
                <div class="half_width no_padding full_content_height">
                    <img src="images/content_images/about_us/page_2_right.jpg" width="1024" height="1327">
                </div>
            </div>
            <!-- end: About Us Page 2 -->
            <!-- start: About Us Page 3 -->
            <div class="content_item  about_us scroll">
                <div class="top_image bottom right">
                    <img src="images/content_images/about_us/page_3_top.jpg" width="2048" height="718">
                    <div class="hover_description">
                        <h4>Innovation</h4>
                    </div>
                </div>
                <div class="half_width text_padding">
                    <p>
                        In a rapidly and ever changing environment innovation is not only desirable but a survival and growth necessity. Since our founding in 1947 we have purposefully adhered to a strategic commitment to innovation.<br>
                        Our advanced research and development lab is dedicated to the full time quest for better technologies, better methodologies, better components and better products. This dedication has established us on the leading edge of product development in the stone business.
                    </p>
                </div>
                <div class="half_width text_padding">
                    <p>Our continuing quest for the new and the better has, time and again, brought delighted satisfaction to our many customers. From our unique and comprehensive palette of integral colours, to our wide variety of accessory styles, and the worldÕs 1st mechanically fastened thin stone DIY system, our single-minded goal is to transform your dreams and turn imagination into reality.</p>
                </div>
            </div>
            <!-- end: About Us Page 3 -->
            <!-- start: About Us Page 4 -->
            <div class="content_item  about_us scroll">
                <div class="half_width no_padding full_content_height">
                    <img src="images/content_images/about_us/page_4_left.jpg" width="1024" height="1327">
                </div>
                <div class="half_width text_padding">
                    <h1 class="sixty"><span>Over 65 years of dedication<br>to family values and</span><br>Innovation, Quality, and Service:</h1>
                    <ul>
                        <li>The transformation of standard concrete block into decorative concrete block through the offering of a broad spectrum of solid and blended colours.</li>
                        <li>The introduction of Designer Stone. Modifications to the production process and extensive research and development marked the genesis of our manufactured stone.</li>
                        <li>The introduction of our Architectural Collection complemented the broad spectrum of existing Designer Stone choices. These Architectural Products transformed blocks of concrete into exclusive sizes and shapes for a dynamic expression on all modes of construction.</li>
                        <li>The corporate name of Shouldice Cement Products Limited changed to Shouldice Designer Stone Limited. The new corporate name better reflected the nature of the business as stone profiles came to represent the major portion of sales.</li>
                        <li>The transformation of standard concrete block into decorative concrete block through the offering of a broad spectrum of solid and blended colours.</li>
                        <li>The introduction of Designer Stone. Modifications to the production process and extensive research and development marked the genesis of our manufactured stone.</li>
                        <li>The introduction of our Architectural Collection complemented the broad spectrum of existing Designer Stone choices. These Architectural Products transformed blocks of concrete into exclusive sizes and shapes for a dynamic expression on all modes of construction.</li>
                        <li>The corporate name of Shouldice Cement Products Limited changed to Shouldice Designer Stone Limited. The new corporate name better reflected the nature of the business as stone profiles came to represent the major portion of sales.</li>
                    </ul>
                </div>
            </div>
            <!-- end: About Us Page 4 -->
            <!-- start: About Us Page 5 -->
            <div class="content_item  about_us scroll">
                <div class="top_image top left">
                    <img src="images/content_images/about_us/page_5_top.jpg" width="2048" height="718">
                    <div class="hover_description">
                        <h4>Quality</h4>
                    </div>
                </div>
                <div class="half_width text_padding">
                    <p>Producing a consistently high quality product doesn’t happen by chance. Shouldice Designer Stone has become the premier choice of architects, designers, contractors, masons, corporations, and homeowners who are looking for the very best this industry has to offer.Choosing Shouldice quality fulfills your dreams with not only lasting beauty but also real world investment value. There is nothing like stone to enhance the beauty of a home or to make a statement about your good taste, your consideration for future sustainability and your financial wisdom.</p>
                </div>
                <div class="half_width text_padding">
                    <ul>
                        <li>We operate a full time quality control department dedicated to ensuring that our customers have only products of the highest quality with which to satisfy their creative desires.</li>
                        <li>Operating from a single manufacturing facility provides us with comprehensive control over all aspects of the manufacturing process.</li>
                        <li>Our state-of-the-art technology and equipment ensure Shouldice Designer Stone is produced only to highest quality standards that our customers can trust with absolute confidence.</li>
                        <li>We operate a full time quality control department dedicated to ensuring that our customers have only products of the highest quality with which to satisfy their creative desires.</li>
                        <li>Operating from a single manufacturing facility provides us with comprehensive control over all aspects of the manufacturing process.</li>
                        <li>Our state-of-the-art technology and equipment ensure Shouldice Designer Stone is produced only to highest quality standards that our customers can trust with absolute confidence.</li>
                    </ul>
                </div>
            </div>
            <!-- end: About Us Page 5 -->
            <!-- start: About Us Page 6 -->
            <div class="content_item  about_us scroll">
                <div class="top_image bottom right">
                    <img src="images/content_images/about_us/page_6_top.jpg" width="2048" height="718">
                    <div class="hover_description">
                        <h4>Service</h4>
                    </div>
                </div>
                <div class="half_width text_padding">
                    <p>Service is what gives real meaning and value to our customers from our commitment to Innovation and Quality. We strive everyday to ensure that our customers benefit from the innovative and unsurpassed quality, beauty, and range of Shouldice Designer Stone products by providing an equally high level of customer service.</p>
                    <p>You can pursue your design aspirations with confidence, knowing that we are here to support, advise and so much more. We are the only coast-to-coast full service, comprehensive masonry manufacturer/supplier</p>
                </div>
                <div class="half_width text_padding">
                    <p> in North America. We manufacture, sell and ship from a single location. As a result, we can guarantee product quality, colour consistency, and reliable delivery. As well, we can satisfy virtually all supply requirements including those of national commercial customers such as large retail chains.</p>
                    <p>Shouldice offers the industryÕs most extensive and comprehensive line of stone products, accents and accessories. We provide a range of full bed depth, load bearing and thin stone solutions to satisfy virtually any application requirement. There need be no limits to your inspirational or aspirational motivations. </p>
                </div>
            </div>
            <!-- end: About Us Page 6 -->
            <!-- start: About Us Page 7 -->
            <div class="content_item  about_us scroll">
                <div class="top_image top left">
                    <img src="images/content_images/about_us/page_7_top.jpg" width="2048" height="718">
                    <div class="hover_description">
                        <h4>Lifetime Warranty</h4>
                    </div>
                </div>
                <div class="full_width text_padding">
                    <p>Shouldice Designer Stone (est.1947) has built a reputation as the industry leader for Innovation, Quality, and Service. Our products exceed the standards of CSA A165 Series-04, ASTMC55-11, and ASTMC90-13 specifications.</p>
                    <p>The added inclusion of an integral water repellent and an organic colour oxide throughout the body of all Shouldice Stone products minimizes moisture penetration and efflorescence while ensuring colour fastness.</p>
                    <p>Shouldice offers a Lifetime Warranty for all its products provided the initial purchaser is the owner of the products, the products are used according to local building codes and the products are installed according to specifications and installation guidelines.</p>
                </div>
            </div>
            <!-- end: About Us Page 7 -->
            <!-- start: Residential Main Category -->
            <div class="content_item  catalog_main_cat">
                <a href="#" class="lightbox">
                    <img src="images/content_images/main_category_image/residential.jpg" width="2048" height="1327">
                </a>
                <a href="#" class="add_to_favourites move">
                    <img src="images/item_icons/gallery_add_to_favourites.png" width="142" height="138">
                </a>
                <div class="image_click_text move">Tap on image above for more examples</div>
            </div>
            <!-- end: Residential Main Category -->
            <!-- start: Residential Sub Category -->
            <div class="content_item  catalog_sub_cat scroll">
                <!-- start: Sub Category Top -->
                <div class="subcat_image">
                    <a href="#" class="lightbox">
                        <img src="images/content_images/sub_category_main_image/sub_category_main_image.jpg" width="1280" height="1327">
                    </a>
                    <a href="#" class="add_to_favourites move">
                        <img src="images/item_icons/gallery_add_to_favourites.png" width="142" height="138">
                    </a>
                    <div class="image_click_text move">Tap on image above for more examples</div>
                </div>
                <div class="subcat_description">
                    <h1>Estate Stone</h1>
                    <p>Our best selling Estate Stone has a pronounced surface that reflects a stunning natural stone appearance. Beyond this immediate physical attribute Estate Stone evokes a sense of classic style and luxury that adds intrinsic value while making a bold statement about you and your home.</p>
                    <h5>Estate Stone is available in 4”, 8” and 12” heights, sizes are pre-blended.</h5>
                    <a href="#" class="sub_cat_anchor">
                        <span class="first">See the collection</span>
                        <span class="last">click images to enlarge & order samples</span>
                    </a>
                </div>
                <!-- end: Sub Category Top -->
                <!-- start: Samples Listing -->
                <div class="stone_samples_listing" id="anchor_slide">
                    <!-- start: Stone Sample Item -->
                    <div class="stone_sample_item">
                        <div class="sample_item_header">
                            <h2>Bradford</h2>
                            <a href="#" class="add_to_favourites">
                                <img src="images/item_icons/add_to_favourites_item_header.png" width="51" height="80">
                            </a>
                            <a href="#" class="lightbox">
                                <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                            </a>
                        </div>
                        <div class="sample_item_image">
                            <a href="#" class="lightbox">
                                <img src="images/content_images/sub_category_listing_image/Bradford.jpg" width="630" height="310">
                            </a>
                        </div>
                    </div>
                    <!-- end: Stone Sample Item -->
                    <!-- start: Stone Sample Item -->
                    <div class="stone_sample_item">
                        <div class="sample_item_header">
                            <h2>Bradford</h2>
                            <a href="#" class="add_to_favourites">
                                <img src="images/item_icons/add_to_favourites_item_header.png" width="51" height="80">
                            </a>
                            <a href="#" class="lightbox">
                                <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                            </a>
                        </div>
                        <div class="sample_item_image">
                            <a href="#" class="lightbox">
                                <img src="images/content_images/sub_category_listing_image/Bradford.jpg" width="630" height="310">
                            </a>
                        </div>
                    </div>
                    <!-- end: Stone Sample Item -->
                    <!-- start: Stone Sample Item -->
                    <div class="stone_sample_item">
                        <div class="sample_item_header">
                            <h2>Bradford</h2>
                            <a href="#" class="add_to_favourites">
                                <img src="images/item_icons/add_to_favourites_item_header.png" width="51" height="80">
                            </a>
                            <a href="#" class="lightbox">
                                <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                            </a>
                        </div>
                        <div class="sample_item_image">
                            <a href="#" class="lightbox">
                                <img src="images/content_images/sub_category_listing_image/Bradford.jpg" width="630" height="310">
                            </a>
                        </div>
                    </div>
                    <!-- end: Stone Sample Item -->
                    <!-- start: Stone Sample Item -->
                    <div class="stone_sample_item">
                        <div class="sample_item_header">
                            <h2>Bradford</h2>
                            <a href="#" class="add_to_favourites">
                                <img src="images/item_icons/add_to_favourites_item_header.png" width="51" height="80">
                            </a>
                            <a href="#" class="lightbox">
                                <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                            </a>
                        </div>
                        <div class="sample_item_image">
                            <a href="#" class="lightbox">
                                <img src="images/content_images/sub_category_listing_image/Bradford.jpg" width="630" height="310">
                            </a>
                        </div>
                    </div>
                    <!-- end: Stone Sample Item -->
                    <!-- start: Stone Sample Item -->
                    <div class="stone_sample_item">
                        <div class="sample_item_header">
                            <h2>Bradford</h2>
                            <a href="#" class="add_to_favourites">
                                <img src="images/item_icons/remove_from_favourites_item_header.png" width="51" height="80">
                            </a>
                            <a href="#" class="lightbox">
                                <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                            </a>
                        </div>
                        <div class="sample_item_image">
                            <a href="#" class="lightbox">
                                <img src="images/content_images/sub_category_listing_image/Bradford.jpg" width="630" height="310">
                            </a>
                        </div>
                    </div>
                    <!-- end: Stone Sample Item -->
                </div>
                <!-- end: Samples Listing -->

            </div>
            <!-- end: Residential Sub Category -->
            <!-- start: Inpiration Page -->
            <div class="content_item inpiration scroll">

                <!-- start: Inspiration Top -->
                <div class="inspiration_top">
                    <div class="left">
                        <div class="inspiration_image_1">
                            <a href="#" class="lighbox">
                                <img src="images/content_images/inspirations/image_1.jpg" width="600" height="1327">
                            </a>
                            <a href="#" class="add_to_favourites move">
                                <img src="images/item_icons/gallery_add_to_favourites.png" width="142" height="138">
                            </a>
                            <div class="image_click_text move">Tap on image above for more examples</div>
                        </div>
                        <div class="inspiration_image_2">
                            <a href="#" class="lighbox">
                                <img src="images/content_images/inspirations/image_2.jpg" width="634" height="720">
                            </a>
                            <a href="#" class="add_to_favourites">
                                <img src="images/item_icons/gallery_add_to_favourites.png" width="142" height="138">
                            </a>
                        </div>
                        <div class="inspiration_image_3">
                            <a href="#" class="lighbox">
                                <img src="images/content_images/inspirations/image_3.jpg" width="640" height="590">
                            </a>
                            <a href="#" class="add_to_favourites move">
                                <img src="images/item_icons/gallery_add_to_favourites.png" width="142" height="138">
                            </a>
                        </div>
                    </div>
                    <div class="right">
                        <h1><span>Endless Possibilities</span><br>Realize Your Dreams</h1>
                        <p>Inside or Out…Big or Small…Institutional or Personal…Traditional or Contemporary – Shouldice transforms stone into an emotional response that will take your breath away. Our Residential, Architectural and other stone varieties and accessories can be applied independently or in endless, stunning combinations. The only limitation is how far you choose to stretch your imagination and creative spirit.</p>
                        <a href="#" class="inspiration_anchor">Swipe down to see<br>more inspirational images</a>
                    </div>
                </div>
                <!-- end: Inspiration Top -->
                <!-- start: Inspiration Middle -->
                <div class="inspiration_middle" id="inpiration_anchor_target">
                    <div class="inspiration_image_4">
                        <a href="#" class="lighbox">
                            <img src="images/content_images/inspirations/image_4.jpg" width="600" height="1327">
                        </a>
                        <a href="#" class="add_to_favourites">
                            <img src="images/item_icons/gallery_add_to_favourites.png" width="142" height="138">
                        </a>
                        <div class="image_click_text">Tap on image above for more examples</div>
                    </div>
                    <div class="inspiration_image_5">
                        <a href="#" class="lighbox">
                            <img src="images/content_images/inspirations/image_5.jpg" width="1408" height="644">
                        </a>
                        <a href="#" class="add_to_favourites">
                            <img src="images/item_icons/gallery_add_to_favourites.png" width="142" height="138">
                        </a>
                        <div class="image_click_text">Tap on image above for more examples</div>
                    </div>
                    <div class="inspiration_image_6">
                        <a href="#" class="lighbox">
                            <img src="images/content_images/inspirations/image_6.jpg" width="584" height="430">
                        </a>
                        <a href="#" class="add_to_favourites">
                            <img src="images/item_icons/gallery_add_to_favourites.png" width="142" height="138">
                        </a>
                    </div>
                    <div class="inspiration_image_7">
                        <a href="#" class="lighbox">
                            <img src="images/content_images/inspirations/image_7.jpg" width="850" height="740">
                        </a>
                        <a href="#" class="add_to_favourites">
                            <img src="images/item_icons/gallery_add_to_favourites.png" width="142" height="138">
                        </a>
                    </div>
                </div>
                <!-- end: Inspiration Middle -->
                <!-- start: Inspiration Bottom -->
                <div class="inspiration_bottom">
                    <div class="inspiration_image_10">
                        <a href="#" class="lighbox">
                            <img src="images/content_images/inspirations/image_10.jpg" width="1750" height="1700">
                        </a>
                        <a href="#" class="add_to_favourites">
                            <img src="images/item_icons/gallery_add_to_favourites.png" width="142" height="138">
                        </a>
                    </div>
                    <div class="inspiration_image_8">
                        <a href="#" class="lighbox">
                            <img src="images/content_images/inspirations/image_8.jpg" width="600" height="570">
                        </a>
                        <a href="#" class="add_to_favourites">
                            <img src="images/item_icons/gallery_add_to_favourites.png" width="142" height="138">
                        </a>
                    </div>
                    <div class="inspiration_image_9">
                        <a href="#" class="lighbox">
                            <img src="images/content_images/inspirations/image_9.jpg" width="500" height="600">
                        </a>
                        <a href="#" class="add_to_favourites">
                            <img src="images/item_icons/gallery_add_to_favourites.png" width="142" height="138">
                        </a>
                        <div class="image_click_text">Tap on image above for more examples</div>
                    </div>
                </div>
                <!-- end: Inspiration Bottom -->

            </div>
            <!-- end: Inpiration Page -->

        </div>
        <!-- end: Catalog Slider -->


    </div>
</div>
<div id="footer_catalog" class="footer" data-role="footer" data-position="fixed" data-tap-toggle="false" style="display:block;">
    <ul>
        <li class="first">
            <a href="#" class="level_1">About Shouldce</a>
        </li>
        <li class="act">
            <a href="#" class="level_1">Residential</a>
            <ul class="subnav">
                <a href="#" class="toggle_subnav">
                    <img src="images/footer/show_subnav.jpg" width="120" height="120" class="first">
                    <img src="images/footer/hide_subnav.jpg" width="120" height="120" class="last">
                </a>
                <li class="subnav_item">
                    <a href="#" class="subnav_text">Estate Stone</a>
                    <a href="#" class="subnav_image">
                        <img src="images/content_images/footer_navigation/estate_stone.jpg" width="258" height="130">
                    </a>
                </li>
                <li class="subnav_item">
                    <a href="#" class="subnav_text">Estate Stone</a>
                    <a href="#" class="subnav_image">
                        <img src="images/content_images/footer_navigation/estate_stone.jpg" width="258" height="130">
                    </a>
                </li>
                <li class="subnav_item">
                    <a href="#" class="subnav_text">Estate Stone</a>
                    <a href="#" class="subnav_image">
                        <img src="images/content_images/footer_navigation/estate_stone.jpg" width="258" height="130">
                    </a>
                </li>
                <li class="subnav_item">
                    <a href="#" class="subnav_text">Estate Stone</a>
                    <a href="#" class="subnav_image">
                        <img src="images/content_images/footer_navigation/estate_stone.jpg" width="258" height="130">
                    </a>
                </li>
                <li class="subnav_item">
                    <a href="#" class="subnav_text">Estate Stone</a>
                    <a href="#" class="subnav_image">
                        <img src="images/content_images/footer_navigation/estate_stone.jpg" width="258" height="130">
                    </a>
                </li>
                <li class="subnav_item">
                    <a href="#" class="subnav_text">Estate Stone</a>
                    <a href="#" class="subnav_image">
                        <img src="images/content_images/footer_navigation/estate_stone.jpg" width="258" height="130">
                    </a>
                </li>
                <li class="subnav_item">
                    <a href="#" class="subnav_text">Estate Stone</a>
                    <a href="#" class="subnav_image">
                        <img src="images/content_images/footer_navigation/estate_stone.jpg" width="258" height="130">
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#" class="level_1">Architectural</a>
        </li>
        <li>
            <a href="#" class="level_1">Charington</a>
        </li>
        <li>
            <a href="#" class="level_1">Fusion Stone</a>
        </li>
        <li class="last">
            <a href="#" class="level_1">Inspirations</a>
        </li>
    </ul>
</div>