<div id="contact">
    <div class="ui-panel-wrapper">
        <div class="white_diagonal_bg"></div>
        <div class="contact_content">
            <h1><span>Contact Shouldice</span></h1>
            <h2><span>Looking for support with your project?</span><br>CONTACT A STONE GENIUS.</h2>
            <p>We can help you make decisions about stone selection, design, colour, installation and more.</p>
            <form>
                <div class="form_row">
                    <label>First name</label>
                    <input type="text" data-role="none">
                </div>
                <div class="form_row">
                    <label>Last name</label>
                    <input type="text" data-role="none">
                </div>
                <div class="form_row">
                    <label>I'm a</label>
                    <div id="radio">
                        <input type="radio" data-role="none">
                        <label>Contractor</label>
                        <input type="radio" data-role="none">
                        <label>Homeowner</label>
                        <input type="radio" data-role="none">
                        <label>Architect</label>
                        <input type="radio" data-role="none">
                        <label>Designer</label>
                    </div>
                </div>
                <div class="form_row">
                    <label>Email address</label>
                    <input type="text" data-role="none">
                </div>
                <div class="form_row">
                    <label>Phone number</label>
                    <input type="text" data-role="none">
                </div>
                <div class="form_row">
                    <input type="submit" value="Submit" data-role="none" />
                </div>
            </form>
        </div>
    </div>
</div>