<div id="favourites" class="scroll">
    <div class="ui-panel-wrapper">
        <h1><span>Favourites</span></h1>
        <div class="labels"><h2>Stones</h2></div>
        <div class="labels"><h2>Inspirations</h2></div>

        <!-- start: Left Column -->
        <div class="favourites_column">

            <!-- start: Category Wrapper -->
            <div class="category_wrapper">
                <h3>Residential / Fusion Stone</h3>
                <!-- start: Favourites Item -->
                <div class="favourite_item">
                    <div class="favourite_item_header">
                        <h4>Bradford</h4>
                        <a href="#" class="add_to_favourites">
                            <img src="images/item_icons/remove_from_favourites_item_header.png" width="51" height="80">
                        </a>
                        <a href="#" class="lightbox">
                            <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                        </a>
                    </div>
                    <div class="favourite_item_image">
                        <a href="#" class="lightbox">
                            <img src="images/content_images/favourites/item_sample.jpg" width="471" height="232">
                        </a>
                    </div>
                </div>
                <!-- end: Favourites Item -->
                <!-- start: Favourites Item -->
                <div class="favourite_item">
                    <div class="favourite_item_header">
                        <h4>Bradford</h4>
                        <a href="#" class="add_to_favourites">
                            <img src="images/item_icons/add_to_favourites_item_header.png" width="51" height="80">
                        </a>
                        <a href="#" class="lightbox">
                            <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                        </a>
                    </div>
                    <div class="favourite_item_image">
                        <a href="#" class="lightbox">
                            <img src="images/content_images/favourites/item_sample.jpg" width="471" height="232">
                        </a>
                    </div>
                </div>
                <!-- end: Favourites Item -->
                <!-- start: Favourites Item -->
                <div class="favourite_item">
                    <div class="favourite_item_header">
                        <h4>Bradford</h4>
                        <a href="#" class="add_to_favourites">
                            <img src="images/item_icons/add_to_favourites_item_header.png" width="51" height="80">
                        </a>
                        <a href="#" class="lightbox">
                            <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                        </a>
                    </div>
                    <div class="favourite_item_image">
                        <a href="#" class="lightbox">
                            <img src="images/content_images/favourites/item_sample.jpg" width="471" height="232">
                        </a>
                    </div>
                </div>
                <!-- end: Favourites Item -->
            </div>
            <!-- end: Category Wrapper -->
            <!-- start: Category Wrapper -->
            <div class="category_wrapper">
                <h3>Residential / Fusion Stone</h3>
                <!-- start: Favourites Item -->
                <div class="favourite_item">
                    <div class="favourite_item_header">
                        <h4>Bradford</h4>
                        <a href="#" class="add_to_favourites">
                            <img src="images/item_icons/remove_from_favourites_item_header.png" width="51" height="80">
                        </a>
                        <a href="#" class="lightbox">
                            <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                        </a>
                    </div>
                    <div class="favourite_item_image">
                        <a href="#" class="lightbox">
                            <img src="images/content_images/favourites/item_sample.jpg" width="471" height="232">
                        </a>
                    </div>
                </div>
                <!-- end: Favourites Item -->
                <!-- start: Favourites Item -->
                <div class="favourite_item">
                    <div class="favourite_item_header">
                        <h4>Bradford</h4>
                        <a href="#" class="add_to_favourites">
                            <img src="images/item_icons/add_to_favourites_item_header.png" width="51" height="80">
                        </a>
                        <a href="#" class="lightbox">
                            <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                        </a>
                    </div>
                    <div class="favourite_item_image">
                        <a href="#" class="lightbox">
                            <img src="images/content_images/favourites/item_sample.jpg" width="471" height="232">
                        </a>
                    </div>
                </div>
                <!-- end: Favourites Item -->
                <!-- start: Favourites Item -->
                <div class="favourite_item">
                    <div class="favourite_item_header">
                        <h4>Bradford</h4>
                        <a href="#" class="add_to_favourites">
                            <img src="images/item_icons/add_to_favourites_item_header.png" width="51" height="80">
                        </a>
                        <a href="#" class="lightbox">
                            <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                        </a>
                    </div>
                    <div class="favourite_item_image">
                        <a href="#" class="lightbox">
                            <img src="images/content_images/favourites/item_sample.jpg" width="471" height="232">
                        </a>
                    </div>
                </div>
                <!-- end: Favourites Item -->
            </div>
            <!-- end: Category Wrapper -->
            <!-- start: Category Wrapper -->
            <div class="category_wrapper">
                <h3>Residential / Fusion Stone</h3>
                <!-- start: Favourites Item -->
                <div class="favourite_item">
                    <div class="favourite_item_header">
                        <h4>Bradford</h4>
                        <a href="#" class="add_to_favourites">
                            <img src="images/item_icons/remove_from_favourites_item_header.png" width="51" height="80">
                        </a>
                        <a href="#" class="lightbox">
                            <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                        </a>
                    </div>
                    <div class="favourite_item_image">
                        <a href="#" class="lightbox">
                            <img src="images/content_images/favourites/item_sample.jpg" width="471" height="232">
                        </a>
                    </div>
                </div>
                <!-- end: Favourites Item -->
                <!-- start: Favourites Item -->
                <div class="favourite_item">
                    <div class="favourite_item_header">
                        <h4>Bradford</h4>
                        <a href="#" class="add_to_favourites">
                            <img src="images/item_icons/add_to_favourites_item_header.png" width="51" height="80">
                        </a>
                        <a href="#" class="lightbox">
                            <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                        </a>
                    </div>
                    <div class="favourite_item_image">
                        <a href="#" class="lightbox">
                            <img src="images/content_images/favourites/item_sample.jpg" width="471" height="232">
                        </a>
                    </div>
                </div>
                <!-- end: Favourites Item -->
                <!-- start: Favourites Item -->
                <div class="favourite_item">
                    <div class="favourite_item_header">
                        <h4>Bradford</h4>
                        <a href="#" class="add_to_favourites">
                            <img src="images/item_icons/add_to_favourites_item_header.png" width="51" height="80">
                        </a>
                        <a href="#" class="lightbox">
                            <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                        </a>
                    </div>
                    <div class="favourite_item_image">
                        <a href="#" class="lightbox">
                            <img src="images/content_images/favourites/item_sample.jpg" width="471" height="232">
                        </a>
                    </div>
                </div>
                <!-- end: Favourites Item -->
            </div>
            <!-- end: Category Wrapper -->

        </div>
        <!-- end: Left Column -->
        <!-- start: Right Column -->
        <div class="favourites_column">
            <!-- start: Category Wrapper -->
            <div class="category_wrapper">
                <h3>Residential / Fusion Stone</h3>
                <!-- start: Favourites Item -->
                <div class="favourite_item">
                    <div class="favourite_item_header">
                        <a href="#" class="add_to_favourites">
                            <img src="images/item_icons/remove_from_favourites_item_header.png" width="51" height="80">
                        </a>
                        <a href="#" class="lightbox">
                            <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                        </a>
                    </div>
                    <div class="favourite_item_image">
                        <a href="#" class="lightbox">
                            <img src="images/content_images/favourites/item_sample.jpg" width="471" height="232">
                        </a>
                    </div>
                </div>
                <!-- end: Favourites Item -->
                <!-- start: Favourites Item -->
                <div class="favourite_item">
                    <div class="favourite_item_header">
                        <a href="#" class="add_to_favourites">
                            <img src="images/item_icons/add_to_favourites_item_header.png" width="51" height="80">
                        </a>
                        <a href="#" class="lightbox">
                            <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                        </a>
                    </div>
                    <div class="favourite_item_image">
                        <a href="#" class="lightbox">
                            <img src="images/content_images/favourites/item_sample.jpg" width="471" height="232">
                        </a>
                    </div>
                </div>
                <!-- end: Favourites Item -->
                <!-- start: Favourites Item -->
                <div class="favourite_item">
                    <div class="favourite_item_header">
                        <a href="#" class="add_to_favourites">
                            <img src="images/item_icons/add_to_favourites_item_header.png" width="51" height="80">
                        </a>
                        <a href="#" class="lightbox">
                            <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                        </a>
                    </div>
                    <div class="favourite_item_image">
                        <a href="#" class="lightbox">
                            <img src="images/content_images/favourites/item_sample.jpg" width="471" height="232">
                        </a>
                    </div>
                </div>
                <!-- end: Favourites Item -->
            </div>
            <!-- end: Category Wrapper -->
            <!-- start: Category Wrapper -->
            <div class="category_wrapper">
                <h3>Residential / Fusion Stone</h3>
                <!-- start: Favourites Item -->
                <div class="favourite_item">
                    <div class="favourite_item_header">
                        <a href="#" class="add_to_favourites">
                            <img src="images/item_icons/remove_from_favourites_item_header.png" width="51" height="80">
                        </a>
                        <a href="#" class="lightbox">
                            <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                        </a>
                    </div>
                    <div class="favourite_item_image">
                        <a href="#" class="lightbox">
                            <img src="images/content_images/favourites/item_sample.jpg" width="471" height="232">
                        </a>
                    </div>
                </div>
                <!-- end: Favourites Item -->
                <!-- start: Favourites Item -->
                <div class="favourite_item">
                    <div class="favourite_item_header">
                        <a href="#" class="add_to_favourites">
                            <img src="images/item_icons/add_to_favourites_item_header.png" width="51" height="80">
                        </a>
                        <a href="#" class="lightbox">
                            <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                        </a>
                    </div>
                    <div class="favourite_item_image">
                        <a href="#" class="lightbox">
                            <img src="images/content_images/favourites/item_sample.jpg" width="471" height="232">
                        </a>
                    </div>
                </div>
                <!-- end: Favourites Item -->
                <!-- start: Favourites Item -->
                <div class="favourite_item">
                    <div class="favourite_item_header">
                        <a href="#" class="add_to_favourites">
                            <img src="images/item_icons/add_to_favourites_item_header.png" width="51" height="80">
                        </a>
                        <a href="#" class="lightbox">
                            <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                        </a>
                    </div>
                    <div class="favourite_item_image">
                        <a href="#" class="lightbox">
                            <img src="images/content_images/favourites/item_sample.jpg" width="471" height="232">
                        </a>
                    </div>
                </div>
                <!-- end: Favourites Item -->
            </div>
            <!-- end: Category Wrapper -->
        </div>
        <!-- end: Right Column -->

    </div>
</div>