<div id="language" class="full_height" >
    <div class="ui-panel-wrapper">
        <div class="top_image">
            <img src="images/content_images/language_selection/left_image.png" width="1810" height="983" class="left">
            <div class="right">
                <img src="images/content_images/language_selection/right_image.png">
            </div>
        </div>
        <div class="language_text_and_logo">
            <div class="orange_bg"></div>
            <div class="green_bg_diagonal"></div>
            <div class="green_bg_horizontal"></div>
            <div class="english language_selection">
                <h1>The natural choice in stone</h1>
                <a ui-sref="catalog_or_samples" data-transition="slide">Enter English</a>
            </div>
            <div class="french language_selection">
                <h1>Le choix naturel en matière de pierre</h1>
                <a href="#catalog_or_samples" data-transition="slide">Enter French</a>
            </div>
            <div class="language_logo">
                <img src="images/content_images/language_selection/logo.png" width="542" height="280">
            </div>
        </div>
    </div>
</div>