<div id="samples_landing" class="">
    <div class="ui-panel-wrapper">
        <div class="image_left">
            <a href="#samples_content" class="samples_link" data-transition="slide">Residential</a>
        </div>
        <div class="image_middle">
            <div class="unset">
                <a href="#samples_content" class="samples_link" data-transition="slide">Architectural</a>
            </div>
        </div>
        <div class="image_right">
            <a href="#samples_content" class="samples_link" data-transition="slide">Fusion Stone</a>
        </div>
        <div class="white_line"></div>
        <div class="horizontal_green"></div>
        <div class="horizontal_grey">
            <h1>The natural choice in stone</h1>
        </div>
        <div class="logo">
            <img src="images/samples_landing/logo.png" width="610" height="314">
        </div>
    </div>
</div>