<div id="samples_content" class="scroll">
    <div class="ui-panel-wrapper">
        <!-- start: Stone Samples Slider -->
        <div class="slider">

            <!-- start: Stone Slider Samples Item -->
            <div class="content_item">
                <div class="breadcrumb"><h1>Residential / Shale Stone</h1></div>

                <!-- start: Samples Listing -->
                <div class="stone_samples_listing" id="anchor_slide">
                    <!-- start: Stone Sample Item -->
                    <div class="stone_sample_item">
                        <div class="sample_item_header">
                            <h2>Bradford</h2>
                            <a href="#" class="add_to_favourites">
                                <img src="images/item_icons/add_to_favourites_item_header.png" width="51" height="80">
                            </a>
                            <a href="#" class="lightbox">
                                <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                            </a>
                        </div>
                        <div class="sample_item_image">
                            <a href="#" class="lightbox">
                                <img src="images/content_images/sub_category_listing_image/Bradford.jpg" width="630" height="310">
                            </a>
                        </div>
                    </div>
                    <!-- end: Stone Sample Item -->
                    <!-- start: Stone Sample Item -->
                    <div class="stone_sample_item">
                        <div class="sample_item_header">
                            <h2>Bradford</h2>
                            <a href="#" class="add_to_favourites">
                                <img src="images/item_icons/add_to_favourites_item_header.png" width="51" height="80">
                            </a>
                            <a href="#" class="lightbox">
                                <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                            </a>
                        </div>
                        <div class="sample_item_image">
                            <a href="#" class="lightbox">
                                <img src="images/content_images/sub_category_listing_image/Bradford.jpg" width="630" height="310">
                            </a>
                        </div>
                    </div>
                    <!-- end: Stone Sample Item -->
                    <!-- start: Stone Sample Item -->
                    <div class="stone_sample_item">
                        <div class="sample_item_header">
                            <h2>Bradford</h2>
                            <a href="#" class="add_to_favourites">
                                <img src="images/item_icons/add_to_favourites_item_header.png" width="51" height="80">
                            </a>
                            <a href="#" class="lightbox">
                                <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                            </a>
                        </div>
                        <div class="sample_item_image">
                            <a href="#" class="lightbox">
                                <img src="images/content_images/sub_category_listing_image/Bradford.jpg" width="630" height="310">
                            </a>
                        </div>
                    </div>
                    <!-- end: Stone Sample Item -->
                    <!-- start: Stone Sample Item -->
                    <div class="stone_sample_item">
                        <div class="sample_item_header">
                            <h2>Bradford</h2>
                            <a href="#" class="add_to_favourites">
                                <img src="images/item_icons/add_to_favourites_item_header.png" width="51" height="80">
                            </a>
                            <a href="#" class="lightbox">
                                <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                            </a>
                        </div>
                        <div class="sample_item_image">
                            <a href="#" class="lightbox">
                                <img src="images/content_images/sub_category_listing_image/Bradford.jpg" width="630" height="310">
                            </a>
                        </div>
                    </div>
                    <!-- end: Stone Sample Item -->
                    <!-- start: Stone Sample Item -->
                    <div class="stone_sample_item">
                        <div class="sample_item_header">
                            <h2>Bradford</h2>
                            <a href="#" class="add_to_favourites">
                                <img src="images/item_icons/remove_from_favourites_item_header.png" width="51" height="80">
                            </a>
                            <a href="#" class="lightbox">
                                <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                            </a>
                        </div>
                        <div class="sample_item_image">
                            <a href="#" class="lightbox">
                                <img src="images/content_images/sub_category_listing_image/Bradford.jpg" width="630" height="310">
                            </a>
                        </div>
                    </div>
                    <!-- end: Stone Sample Item -->
                    <!-- start: Stone Sample Item -->
                    <div class="stone_sample_item">
                        <div class="sample_item_header">
                            <h2>Bradford</h2>
                            <a href="#" class="add_to_favourites">
                                <img src="images/item_icons/remove_from_favourites_item_header.png" width="51" height="80">
                            </a>
                            <a href="#" class="lightbox">
                                <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                            </a>
                        </div>
                        <div class="sample_item_image">
                            <a href="#" class="lightbox">
                                <img src="images/content_images/sub_category_listing_image/Bradford.jpg" width="630" height="310">
                            </a>
                        </div>
                    </div>
                    <!-- end: Stone Sample Item -->
                    <!-- start: Stone Sample Item -->
                    <div class="stone_sample_item">
                        <div class="sample_item_header">
                            <h2>Bradford</h2>
                            <a href="#" class="add_to_favourites">
                                <img src="images/item_icons/remove_from_favourites_item_header.png" width="51" height="80">
                            </a>
                            <a href="#" class="lightbox">
                                <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                            </a>
                        </div>
                        <div class="sample_item_image">
                            <a href="#" class="lightbox">
                                <img src="images/content_images/sub_category_listing_image/Bradford.jpg" width="630" height="310">
                            </a>
                        </div>
                    </div>
                    <!-- end: Stone Sample Item -->
                    <!-- start: Stone Sample Item -->
                    <div class="stone_sample_item">
                        <div class="sample_item_header">
                            <h2>Bradford</h2>
                            <a href="#" class="add_to_favourites">
                                <img src="images/item_icons/remove_from_favourites_item_header.png" width="51" height="80">
                            </a>
                            <a href="#" class="lightbox">
                                <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                            </a>
                        </div>
                        <div class="sample_item_image">
                            <a href="#" class="lightbox">
                                <img src="images/content_images/sub_category_listing_image/Bradford.jpg" width="630" height="310">
                            </a>
                        </div>
                    </div>
                    <!-- end: Stone Sample Item -->
                    <!-- start: Stone Sample Item -->
                    <div class="stone_sample_item">
                        <div class="sample_item_header">
                            <h2>Bradford</h2>
                            <a href="#" class="add_to_favourites">
                                <img src="images/item_icons/remove_from_favourites_item_header.png" width="51" height="80">
                            </a>
                            <a href="#" class="lightbox">
                                <img src="images/item_icons/lightbox_link_item_header.png" width="51" height="80">
                            </a>
                        </div>
                        <div class="sample_item_image">
                            <a href="#" class="lightbox">
                                <img src="images/content_images/sub_category_listing_image/Bradford.jpg" width="630" height="310">
                            </a>
                        </div>
                    </div>
                    <!-- end: Stone Sample Item -->
                </div>
                <!-- end: Samples Listing -->

            </div>
            <!-- end: Stone Slider Samples Item -->

        </div>
        <!-- end: Stone Samples Slider -->
    </div>
</div>